/*
 * Main definitions SCSS file
 *
 * Definition of mixins and functions etc.
 * Should NOT generate any actual CSS!
 * To be included in ALL subsequent SCSS files.
 *
 * @author Jarlssen GmbH
 */

@import "variables";


// Returns the clean value of a value in pixels
@function num($val) {
    @return $val / 1px;
}


// Clear fix solution
@mixin clear-fix() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}


// Font setup. $weight can be numeric (400, 600 etc) or string (bold, normal etc).
@mixin font-style($size: $baseFontSize, $weight: 400, $style: normal, $family: Roboto) {

    font-family: $family, Arial, Verdana, sans-serif;

    $_ratio: num($size) / num($baseFontSize);

    font-weight: $weight;
    font-style: $style;
    font-size: $_ratio * 1rem;

}


// Opacity
@mixin opacity($trans) {
    filter: alpha(opactiy=($trans * 100));
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
    -moz-opacity: $trans;
    -khtml-opacity: $trans;
    opacity: $trans;
}


// Box shadow
@mixin box-shadow($horizOffset: 1px, $vertOffset: 1px, $blur: 10px, $spread: 5px, $shadowColor: #ccc) {

    box-shadow:         $horizOffset $vertOffset $blur $spread $shadowColor;
    -webkit-box-shadow: $horizOffset $vertOffset $blur $spread $shadowColor;
    -moz-box-shadow:    $horizOffset $vertOffset $blur $spread $shadowColor;

}


// Border radius + keeping the background within
@mixin border-radius($radius: 3px) {

    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;

    // keeps background from busting out of border
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

}


// Retina background images
@mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
        /* on retina, use image that's scaled by 2 */
        background-image: url($image);
        background-size: $width $height;
    }

    /* Usage:
    div.logo {
       background: url("logo.png") no-repeat;
       @include image-2x("logo2x.png", 100px, 25px);
    }
    */
}


// Gradients
@mixin gradient($from, $to, $arrow: false, $url: false) {
    // fallback
    background-color: $from;

    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top, $from, $to);
    background: -ms-linear-gradient(top, $from, $to);
    background: linear-gradient(top, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');

    @if($arrow) {
        background:
                url(../images/arr_down_white.png) no-repeat left center,
                -webkit-gradient(linear, left top, left bottom, from($from), to($to));

        background:
                url(../images/arr_down_white.png) no-repeat left center,
                -moz-linear-gradient(top, $from, $to);

        background:
                url(../images/arr_down_white.png) no-repeat left center,
                -ms-linear-gradient(top, $from, $to);

        background:
                url(../images/arr_down_white.png) no-repeat left center,
                linear-gradient(top, $from, $to);
    } @else {
        @if($url) {
            // fallback
            background-color: $from;
            background-image: url($url) no-repeat center left;

            background: url($url) no-repeat center left, -webkit-gradient(linear, left top, left bottom, from($from), to($to));
            background: url($url) no-repeat center left, -moz-linear-gradient(top, $from, $to);
            background: url($url) no-repeat center left, -ms-linear-gradient(top, $from, $to);
            background: url($url) no-repeat center left, linear-gradient(top, $from, $to);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
        }
    }
}

@mixin border-gradient($top,$bottom,$width: 1px) {

    border-top: $width solid $top;
    border-bottom: $width solid $bottom;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: $width 100%;
    -moz-background-size: $width 100%;
    background-size: $width 100%;
    background-image: -webkit-linear-gradient(top, $top 0%, $bottom 100%), -webkit-linear-gradient(top, $top 0%, $bottom 100%);
    background-image: -moz-linear-gradient(top, $top 0%, $bottom 100%), -moz-linear-gradient(top, $top 0%, $bottom 100%);
    background-image: -o-linear-gradient(top, $top 0%, $bottom 100%), -o-linear-gradient(top, $top 0%, $bottom 100%);
    background-image: linear-gradient(to bottom, $top 0%, $bottom 100%), linear-gradient(to bottom, $top 0%, $bottom 100%);
}

// Used as a general gradient background for the whole content areas
@mixin gradient_background() {
    // The main website area contains a horizontal gradient
    background-color: $mainBgColor;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M4YzhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGM4YzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #c8c8c8 0%, #d6d6d6 10%, $mainBgColor 51%, #d6d6d6 90%, #c8c8c8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c8c8c8), color-stop(10%,#d6d6d6), color-stop(51%,$mainBgColor), color-stop(90%,#d6d6d6), color-stop(100%,#c8c8c8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #c8c8c8 0%,#d6d6d6 10%,$mainBgColor 51%,#d6d6d6 90%,#c8c8c8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #c8c8c8 0%,#d6d6d6 10%,$mainBgColor 51%,#d6d6d6 90%,#c8c8c8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #c8c8c8 0%,#d6d6d6 10%,$mainBgColor 51%,#d6d6d6 90%,#c8c8c8 100%); /* IE10+ */
    background: linear-gradient(to right,  #c8c8c8 0%,#d6d6d6 10%,$mainBgColor 51%,#d6d6d6 90%,#c8c8c8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#c8c8c8',GradientType=1 ); /* IE6-8 */
}


// Image effects
@mixin grayscale-filter($val) {
    filter: gray; // IE
    filter: grayscale(percentage($val)); // FF
    -webkit-filter: grayscale($val/100); // Chrome, Safari
}


// Covers 100% of the container, regardless of container dimensions
@mixin bg-fluid {
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
}


// Used for animations / transitions
@mixin transition($param: width, $speed: $animationTime, $animation: ease-in, $delay: false) {

    -webkit-transition: $param $speed $animation;
    -moz-transition: $param $speed $animation;
    -o-transition: $param $speed $animation;
    transition: $param $speed $animation;

    @if($delay) {
        -webkit-transition-delay: $delay;
        -moz-transition-delay: $delay;
        -o-transition-delay: $delay;
        transition-delay: $delay;
    }
}


// Resets floats in groups that have two left-right floated elements (ex. .engine-explanations)
@mixin clear-pair() {
    &:first-child, &.first, &:last-child, &.last {
        float:  none;
        width:  100%;
    }
}


// Draws a triangle of solid $color
@mixin triangle($direction: down, $size: 10px, $color: $colorWhite, $equilateral: false) {
    width: 0;
    height: 0;
    border: none;
    border-bottom-width: 0;

    @if($direction == down) {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }

    @if($direction == up) {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }

    @if($direction == left) {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }

    @if($direction == right) {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }

    @if($equilateral == true) {
        border-bottom-width: ($size * 2) * 0.866%
    }
}


// Text in columns format
@mixin text-columns($columnsCount: 2, $columnsSpacing: 30px) {
    -webkit-column-count: $columnsCount;
    -moz-column-count: $columnsCount;
    column-count: $columnsCount;

    -webkit-column-gap: $columnsSpacing;
    -moz-column-gap: $columnsSpacing;
    column-gap: $columnsSpacing;
}


// Applies the proper box model
// @TODO: Apply for everything this mixin !!!
@mixin box-model() {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}

