/*
 * Main variables SCSS file
 *
 * Definition of ONLY variables.
 * Should NOT generate any actual CSS!
 *
 * To be included ONLY in _RC_Definitions.scss.
 *
 * @author Jarlssen GmbH
 * @see _RC_Definitions.scss
 */


// Typography
$baseFontSizeDefault: 16px;
$baseFontSize: 14px;
$baseLineHeight: 1.2;


// Main colors
$textColor: #3c3c3c;
$themeColor: #c85a1e;
$themeColorRGB: rgb(200, 90, 30);


// Navigation
$topHeaderBgColor: #282828;
$topHeaderBgColorRGBA: rgba(40, 40, 40, .8);
$topHeaderBorderColor: #1a1a1a;

$naviBgColor: #2F3131;
$naviBgColorTrans: rgba(47,49,49,0.98);
$naviChildBgColorMobile: #262727;
$naviColor: #c2c6cc;
$naviBorderColor: #595b5d;
$naviDropDownBorderColor: #707070;
$naviDropDownBgColor: #555;
$naviDropDownColor: #e6e6e6;
$naviDropDownTopBorderColor: #0c0c0c;


// Contents
$contentBgColor: #fff; // actual content bg
$mainBgColor: #e6e6e6; // light gray on the main content area (used for gradient)
$mainBgColor2: #d2d2d2; // darker gray for certain pages' backgrounds
$footerBgColor: #ddd;  // light gray on the footer area (used for gradient)
$borderColor: #c8c8c8;


// Modals
$modalBgColorRGBA: rgba(0, 0, 0, .65);
$modalBorderColor: #e4e5e5;
$modalContentBgColor: #fff;


// Theme colors
$colorBlack: #000;
$colorWhite: #fff;

$colorOrange1: #d0511e;
$colorOrange2: #e58a2e;
$colorOrange3: #d08e6a;
$colorOrange4: #dcb893;
$colorOrange5: #d0521e;
$colorOrange6: #e97c2e;
$colorOrange7: #943800;
$colorOrange8: #ff9600;
$colorOrange9: #f0850c;
$colorOrange10: #b84a1e;
$colorOrange11: #ec5b00;

$colorGreen1: #51ba1b;
$colorGreen2: #388513;
$colorGreen3: #529033; // product page, checker border top
$colorGreen4: #46742f; // product page, checker border bottom
$colorGreen5: #74c838; // product page, checker shadow top
$colorGreen6: #60a72e; // product page, checker shadow bottom
$colorGreen7: #398513; // product page, checker hover background
$colorGreen8: #45732e; // product page, checker hover border
$colorGreen9: #5fa32c; // product page, checker inner shadow on hover
$colorGreen10: #519025;
$colorGreen11: #ecf4e7; // shop, selected product background
$colorGreen12: #90a689; // shop, selected "more details" cell

$colorBlue1: #70bbe2;
$colorBlue2: #71b3fd;

$colorGray1: #b4b4b4;
$colorGray2: #4a4a4a;
$colorGray3: #666;
$colorGray4: #454545;
$colorGray5: #f2f2f2;
$colorGray6: #afafaf;
$colorGray7: #737373;
$colorGray8: #5c5e60;
$colorGray9: #787878;
$colorGray10: #dadada;
$colorGray11: #8b8b8b;
$colorGray12: #e2e2e2;
$colorGray13: #3e3e3e; // checkout header background
$colorGray14: #e0e3e6;
$colorGray15: #d0d0d0; // contact form background
$colorGray16: #9b9b9b; // contact form, vertical border
$colorGray17: #e6e6e6;
$colorGray18: #efefef;
$colorGray19: #b8bfc6;
$colorGray20: #cfcfcf;
$colorGray21: #eee;
$colorGray22: #a1a1a1; // user account, left column title
$colorGray23: #a5a5a5;
$colorGray24: #414141;
$colorGray25: #888;
$colorGray26: #5f5f5f;
$colorGray27: #eeeeee;
$colorGray28: #f8f8f8;
$colorGray29: #bababa;
$colorGray30: #f1f1f1;
$colorGray31: #f3f3f3;
$colorGray32: #d4d4d4;
$colorGray33: #d2d2d2;
$colorGray34: #a7a7a7;
$colorGray35: #e9e9e9;
$colorGray36: #4d4d4d;
$colorGray37: #bebebe;
$colorGray38: #eaeaea;
$colorGray39: #afafaf;
$colorGray40: #666666;
$colorGray41: #dfe2e5;
$colorGray42: #ebebeb;
$colorGray43: #dcdcdc;
$colorGray44: #555;
$colorGray45: #929292;
$colorGray46: #b3b3b3;
$colorGray47: #646464;
$colorGray48: #444;
$colorGray49: #f4f4f4;
$colorGray50: #f9f9f9;
$colorGray51: #808080;
$colorGray52: #AAA;
$colorGray53: #333333;
$colorGray54: #fbfbfb;
$colorGray55: #adadad;
$colorGray56: #ededed;
$colorGray57: #8c8c8c;
$colorGray58: #e5e5e5;
$colorGray59: #868686;
$colorGray60: #b0b0b0;
$colorGray61: #c0c0c0;
$colorGray62: #424242;
$colorGray63: #313131;
$colorGray64: #f0f0f0;
$colorGray65: #acacac;
$colorGray66: #282828;
$colorGray67: #d9d9d9;
$colorGray68: #cacaca;
$colorGray69: #3e4040;
$colorGray70: #8a8a8a;

