@import "definitions";

// Namespacing so we don't destroy the other examples
body.racechip {

    background-color: $textColor;

    @include font-style(12px, 400, normal);

    .orange {
        color: $themeColor;
    }

    .row {
        margin-left: 0;
        margin-right: 0;

        color: $textColor;

        .x_panel {
            background: radial-gradient(ellipse at center top, #FFF 10%, rgba(255, 255, 255, 0.65) 60%) repeat scroll 0% 0%,
            radial-gradient(ellipse at center bottom, #FFF -90%, rgba(255, 255, 255, 0.65) 30%) repeat scroll 0% 0% transparent;
        }

        .pie-chart {
            .x_panel {
                height: 475px;
            }

            .pie {
                text-align: center;
            }
        }
    }

    // Title at the top of the page
    .page-title {
        padding-left: 10px;
        padding-right: 10px;
        height: 60px;

        .logo {
            max-height: 40px;
        }

        .title_right {
            color: $themeColor;

            * {
                @include font-style(30px, 300, italic);
            }

            .pull-right {
                margin: 0;
                text-align: right;
            }
        }
    }

    .container.body .right_col {
        background-color: $textColor;
        color: $colorWhite;
    }

    // Legend for the ploy graph
    .legend * {
        background-color: transparent !important;
    }

}